nav ul {
    clear: both;
    list-style: none;
    overflow: hidden;	
    width: 80%; 
    margin-left: 10%;
    margin-right: 10%;
}

nav ul li {
    float: left;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-size: 20px;	
    width: 16%	 
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    text-shadow: 2px 2px #ff0000;
    letter-spacing: 2px;
    color: black;
    width: 100%;
    background-color: rgba(127,127,250,0.5);
}

nav ul li a:hover {
    color: white;
    background-color: #555;
}

nav ul li:first-child a {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}

nav ul li:last-child a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.active {
    color: white;
}

