body {
	background: url('http://thecodeplayer.com/uploads/media/gs.png');
	background: 
		linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), 
		url('http://thecodeplayer.com/uploads/media/gs.png');
}

html, body, #container { 
    height: 100%; 
	 margin-top: 1%;
    width: 100%;
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 100%;
    min-width: 800px;
}

body > #container { 
    height: auto; 
    min-height: 100%; 
}

#content {
    padding-bottom: 70px;
}

header {
	 height: 120px;	
	 background-color: white;
	 width: 80%;
	 border:5px solid black;
	 margin-left: 10%;
	 margin-right: 10%;
	 padding: 10px;
	 clear: both;
	 border-radius: 8px;
}

#logo {
	height: 100px;
	width: 200px;
	margin: 10px auto;
	padding: 10px;
	float: left;
}

footer { 
    background-color: rgb(127,127,127);
    clear: both; 
    width: 80%;
    height: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
}

footer small {
	float: right;
	color: white;
	margin-right: 5px;
}

.left { 
    display: inline-block;
    width: 20%; 
    margin-left: 10%;
    height: 800px;
    border-radius: 8px;
    background-color: white;
}

.center { 
    display: inline-block;
    width: 40%;
    position: absolute;
    margin-left: 10px;
    border-radius: 8px;
    background-color: white;	     
}

.right { 
    display: inline-block;
    width: 15%;
    height: 800px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: white;	     
}



hr {
	width: 100%;
	padding: 1px;
	background-color: black
}




