body {
	background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-size: 20px 20px;
	background-color: #131313;
	-pie-background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px / 20px,
                 linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px / 20px,
                 linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px / 20px,
                 linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px / 20px,
                 linear-gradient(90deg, #1b1b1b 10px, transparent 10px) 0 0 / 20px,
                 linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424)
                 0 0 / 20px #131313;
	behavior: url(/pie/PIE.htc);
	max-width: 1200px;
	margin: 0 auto;
}

html, body, #container { 
    height: 100%; 
	 width: 100%;
}

body > #container { 
    height: auto; 
    min-height: 100%; 
}

#content {
    padding-bottom: 70px;
}

header {
	 height: 100px;
	 background-color: white;
	 float: left;
	 width: 100%;
	 border:5px solid white;
	 margin: 10px 10px;
	 clear: both;
	 border-radius: 16px;
}

#logo {
	height: 80px;
	width: 200px;
	padding: 10px;
	margin: auto 10px;
	float: right;
}

#updatepic {
	height: 80px;
	width: 200px;
	padding: 10px;
	margin: auto 10px;
	float: left;
}

footer { 
    background-color: rgb(127,127,127);
    clear: both; 
    width: 100%;
    position: relative;
    height: 20px;
    margin-top: -20px;
}

section.left, section.right {
    text-align: justify;
}

section.left { 
    float: left; 
    width: 20%; 
    margin: 0 2% 0 4%; 
}

section.right { 
    float: right; 
    width: 20%;
	 margin: 0 2% 0 4%;      
}

nav {
	width: 100%;
}

nav ul {
	width: 100%;
	list-style: none;
	overflow: hidden;	
}

nav ul li {
	float: left;
	font-family: Arial,Helvetica,FreeSans,sans-serif;
	font-size: 20px;	
	width: 16%	 
}

nav ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	border: 1px solid white;
	text-shadow: 2px 2px #ff0000;
	letter-spacing: 2px;
	color: black;
	padding: 8px 0;
	width: 100%;
   background-color: rgba(250,250,250,0.5);
}

nav ul li a:hover {
	color: white;
	background-color: #555;
}

nav ul li:first-child a {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
}

nav ul li:last-child a {

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.active {
    color: white;
}

label {
	display: block;
	color: black;
	text-shadow: 2px 2px #ff0000;
	letter-spacing: 2px;
}

.login {
	width: 200px;
	float: right;
	margin: 10px auto;
	padding: 25px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 5px;
   border: 1px solid rgba(0, 0, 0, 0.3);
}
.login ul {
	padding: 0;
	margin: 0;
}
.login li {
	display: inline;
	float: left;
}
.login input:not([type=submit]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}
.login input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	color: black;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 8px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.marquee {
   width: 300px;
	float: right;
   margin-right: 10px;
   background-color: rgb(127, 127, 127);
	border-radius: 6px;
	color: black;
   white-space: nowrap;
	text-shadow: 2px 2px #ff0000;	
   overflow: hidden;
   font-size:24px;
}

.marquee span {
   display: inline-block;
   padding-left: 100%;
   text-indent: 0;
   animation: marquee 15s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


